<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviews</title>



    <link rel="stylesheet" type="text/css" href="public/styles/pikeatsReviewStyle.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    
    <script src="public/scripts/pikeatsReviewScript.js" defer></script>



</head>

<body class="bodyControl">

    <div class="mainControl">

        <!-- NAV BAR CONTROLS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="navBarContainer">

            </div>

        <!-- PICTURE SPOT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="pictureSpotContainer">



                <!-- PICTURE SPOT CAMERA CONTAINER ---------------- -->
                <!-- ////////////////////////////////////////////// -->


                    <div class="cameraContainer">


                        <!-- START VIDEO SHOT BUTTON >>>>>>>>>>>>>> -->
                        <!-- ////////////////////////////////////// -->


                            <div class="cameraStartPictureButtonContainer">

                                <div class="startPictureIntroTextContainer">



                                    <div class="startPictureIntroHeaderTextContainer">

                                        let's begin

                                    </div>

                                    <div class="startPictureIntroBodyTextContainer">

                                        hit the start button, focus and frame your your meal in the shot,
                                        fill in a description and rate your meal then hit submit. voila!

                                    </div>



                                </div>

                                <div class="cameraStartButtonActual">

                                    start

                                </div>

                            </div>


                        <!-- CAPTURE SHOT BUTTON >>>>>>>>>>>>>>>>>> -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraBoxContainer">

                                <video class="cameraBoxActualPicture" autoplay>

                                </video>

                            </div>


                        <!-- CAPTURE SHOT BUTTON >>>>>>>>>>>>>>>>>> -->
                        <!-- ////////////////////////////////////// -->


                            <div class="cameraTakePictureButtonContainer">

                                <div class="cameraTakePictureButtonActual">

                                    capture

                                </div>

                            </div>


                    </div>






                

                <!-- CAPTURED PIK SPOT CONTAINER ------------------ -->
                <!-- ////////////////////////////////////////////// -->

                    <div class="cameraSnipDisplayContainer">




                        <!-- DISPLAY SNIP ON CANVAS CONTAINER ----- -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraSnipDisplayBoxContainer">

                                <canvas class="cameraSnipDisplayActual">
        
                                </canvas>

                            </div>




                        <!-- RETAKE OR CONFIRM SHOT BUTTONS CONTAINER -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraSnipConfirmDiscardContainer">

                                <div class="cameraSnipDiscardButtonContainer">

                                    <div class="cameraSnipDiscardButtonActualText">

                                        retake

                                    </div>

                                </div>

                                <div class="cameraSnipConfirmButtonContainer">

                                    <div class="cameraSnipConfirmButtonActualText">

                                        confirm

                                    </div>

                                </div>

                            </div>



                        <!-- SHOW SHOT DATA CONTAINER ------------- -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraSnipDisplayHeaderUrlContainer">

                                <div class="cameraSnipDisplayHeaderUrlActual">

                                    shot data url

                                </div>

                            </div>




                    </div>






                

                <!-- DROP DOWN AND COMMENTS CONTAINER ------------- -->
                <!-- ////////////////////////////////////////////// -->

                    <div class="cameraShotDescriptionContainer">









                        <!-- SELECT AREA DROP DOWN CONTAINER ------ -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraShotAreaDropDownContainer">

                                <!-- DROP DOWN AREA ITEM SIDE ///// -->
                                <!-- ////////////////////////////// -->

                                    <div class="cameraShotAreaDropDownItemsSideContainer">

                                        <div class="cameraShotAreaDropDownItemsSideActualTextContainer">

                                            select area

                                        </div>

                                    </div>




                                <!-- DROP DOWN AREA ICON SIDE ///// -->
                                <!-- ////////////////////////////// -->

                                    <div class="cameraShotAreaDropDownIconSideContainer">

                                        <!-- CLICKERS CONTAINER xxx -->
                                        <!-- xxxxxxxxxxxxxxxxxxxxxx -->

                                            <div class="cameraShotAreaDropDownIconSideClickersContainer">

                                                <div class="cameraShotAreaDropDownIconSideOpenClicker">

                                                </div>

                                                <div class="cameraShotAreaDropDownIconSideCloseClicker">

                                                </div>

                                            </div>

                                        <!-- ICON CONTAINER xxxxxxx -->
                                        <!-- xxxxxxxxxxxxxxxxxxxxxx -->

                                            <div class="cameraShotAreaDropDownIconSideIconContainer">

                                                <div class="cameraShotAreaDropDownIconSideIconMover">

                                                    <div class="cameraShotAreaDropDownIconSideIconLineOne">

                                                    </div>

                                                    <div class="cameraShotAreaDropDownIconSideIconLineTwo">

                                                    </div>

                                                    <div class="cameraShotAreaDropDownIconSideIconLineThree">

                                                    </div>

                                                </div>

                                            </div>

                                    </div>




                                <!-- DROP DOWN CONTENTS -->
                                <!-- ////////////////// -->

                                    <div class="cameraShotAreaDropAreaDownContentsContainer">




                                        <!-- DROP DOWN AREA SELECT SLIDER CONTAINER / -->
                                        <!-- //////////////////////////////////////// -->


                                            <div class="cameraShotAreaDropAreaDownSliderContainer">



                                                <!-- DROP DOWN AREA SELECT SLIDE SIDE /// -->
                                                <!-- //////////////////////////////////// -->


                                                    <div class="cameraShotDropDownAreaSelectSide">


                                                    </div>



                                                <!-- DROP DOWN DINER SELECT SLIDE SIDE // -->
                                                <!-- //////////////////////////////////// -->


                                                    <div class="cameraShotDropDownDinerSelectSide">


                                                    </div>




                                            </div>







                                    </div>

                            </div>




                        




                        <!-- SELECT RATING CONTAINER -------------- -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraShotRatingsContainer">




                                <div class="cameraShotRatingsAreaContainer">

                                    <div class="cameraShotRatingsAreaResizer">





                                        <!-- STAR ONE xxxxxxxxxxxxx -->
                                        <!-- ////////////////////// -->

                                            <div class="cameraShotRatingsAreaStarContainerOne">

                                                <!-- CLICKERS CONTAINER =================== -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarOneClickerContainer">

                                                        <div class="cameraShotRatingsAreaStarOneClickerOn">

                                                        </div>

                                                        <div class="cameraShotRatingsAreaStarOneClickerOff">

                                                        </div>

                                                    </div>

                                                <!-- STAR ACTUAL CONTAINER ================ -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarActualOne">

                                                    </div>

                                            </div>





                                        <!-- STAR TWO xxxxxxxxxxxxx -->
                                        <!-- ////////////////////// -->

                                            <div class="cameraShotRatingsAreaStarContainerTwo">

                                                <!-- CLICKERS CONTAINER =================== -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarTwoClickerContainer">

                                                        <div class="cameraShotRatingsAreaStarTwoClickerOn">

                                                        </div>

                                                        <div class="cameraShotRatingsAreaStarTwoClickerOff">

                                                        </div>

                                                    </div>

                                                <!-- STAR ACTUAL CONTAINER ================ -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarActualTwo">

                                                    </div>

                                            </div>





                                        <!-- STAR THREE xxxxxxxxxxx -->
                                        <!-- ////////////////////// -->

                                            <div class="cameraShotRatingsAreaStarContainerThree">

                                                <!-- CLICKERS CONTAINER =================== -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarThreeClickerContainer">

                                                        <div class="cameraShotRatingsAreaStarThreeClickerOn">

                                                        </div>

                                                        <div class="cameraShotRatingsAreaStarThreeClickerOff">

                                                        </div>

                                                    </div>

                                                <!-- STAR ACTUAL CONTAINER ================ -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarActualThree">

                                                    </div>

                                            </div>





                                        <!-- STAR FOUR xxxxxxxxxxxx -->
                                        <!-- ////////////////////// -->

                                            <div class="cameraShotRatingsAreaStarContainerFour">

                                                <!-- CLICKERS CONTAINER =================== -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarFourClickerContainer">

                                                        <div class="cameraShotRatingsAreaStarFourClickerOn">

                                                        </div>

                                                        <div class="cameraShotRatingsAreaStarFourClickerOff">

                                                        </div>

                                                    </div>

                                                <!-- STAR ACTUAL CONTAINER ================ -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarActualFour">

                                                    </div>

                                            </div>





                                        <!-- STAR FIVE xxxxxxxxxxxx -->
                                        <!-- ////////////////////// -->

                                            <div class="cameraShotRatingsAreaStarContainerFive">

                                                <!-- CLICKERS CONTAINER =================== -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarFiveClickerContainer">

                                                        <div class="cameraShotRatingsAreaStarFiveClickerOn">

                                                        </div>

                                                        <div class="cameraShotRatingsAreaStarFiveClickerOff">

                                                        </div>

                                                    </div>

                                                <!-- STAR ACTUAL CONTAINER ================ -->
                                                <!-- ====================================== -->

                                                    <div class="cameraShotRatingsAreaStarActualFive">

                                                    </div>

                                            </div>







                                    </div>

                                </div>




                            </div>




                        




                        <!-- CALORIE ESTIMATE CONTAINER ----------- -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraShotCalorieEstimateContainer">

                                <div class="cameraShotCalorieEstimateContainerActual">
                                
                                    <input 
                                    
                                        id="calories"
                                        name="calories"
                                        class="cameraShotCalorieEstimateInputActual"
                                        readonly
                                        maxlength="15"
                                        value=""
                                        placeholder="estimating calories..."
                                        
                                    >

                                </div>

                            </div>




                        




                        <!-- MAKE COMMENT CONTAINER --------------- -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraShotMakeCommentContainer">

                                <div class="cameraShotMakeCommentContainerActual">

                                    <textarea 
                                        
                                        id="comments"
                                        name="comments"
                                        class="cameraShotMakeCommentInputActual"
                                        maxlength="150"
                                        placeholder="leave a comment..."

                                    ></textarea>

                                </div>

                            </div>





                    </div>






                

                <!-- SUBMIT COLLECTED INFORMATION TO DB CONTAINER - -->
                <!-- ////////////////////////////////////////////// -->

                    <div class="submitInfoContainer">

                        <!-- FORM FOR INFO SUBMIT ----------------- -->
                        <!-- ////////////////////////////////////// -->

                            <form class="submitInfoFormActual">



                                <!-- CAPTURE CONVERTED IMAGE STRING -->
                                <!-- ////////////////////////////// -->

                                    <div class="submitImageConvertedStringContainer">

                                        <div class="submitImageConvertedStringInputContainer">

                                            <input
                                            
                                                id="submitImageConvertedStringInputActual"
                                                name="userImageConverted"
                                                value=""
                                                class="submitImageConvertedStringInputActual"
                                                readonly
                                                placeholder="image..."

                                            >

                                        </div>

                                    </div>



                                <!-- CAPTURE AREA SELECT STRING --- -->
                                <!-- ////////////////////////////// -->

                                    <div class="submitAreaStringContainer">

                                        <div class="submitAreaStringInputContainer">

                                            <input
                                            
                                                id="submitAreaStringInputActual"
                                                name="userArea"
                                                value=""
                                                class="submitAreaStringInputActual"
                                                readonly
                                                placeholder="area..."

                                            >

                                        </div>

                                    </div>



                                <!-- CAPTURE RATINGS STRING ------- -->
                                <!-- ////////////////////////////// -->

                                    <div class="submitRatingsStringContainer">

                                        <div class="submitRatingsStringInputContainer">

                                            <input
                                            
                                                id="submitRatingsStringInputActual"
                                                name="userRatings"
                                                value=""
                                                class="submitRatingsStringInputActual"
                                                readonly
                                                placeholder="ratings..."

                                            >

                                        </div>

                                    </div>



                                <!-- CAPTURE CALORIES STRING ------ -->
                                <!-- ////////////////////////////// -->

                                    <div class="submitCaloriesStringContainer">

                                        <div class="submitCaloriesStringInputContainer">

                                            <input
                                            
                                                id="submitCaloriesStringInputActual"
                                                name="userCalories"
                                                value=""
                                                class="submitCaloriesStringInputActual"
                                                readonly
                                                placeholder="calories..."

                                            >

                                        </div>

                                    </div>



                                <!-- CAPTURE COMMENTS STRING ------ -->
                                <!-- ////////////////////////////// -->

                                    <div class="submitCommentsStringContainer">

                                        <div class="submitCommentsStringInputContainer">

                                            <input
                                            
                                                id="submitCommentsStringInputActual"
                                                name="userComments"
                                                value=""
                                                class="submitCommentsStringInputActual"
                                                readonly
                                                placeholder="comments..."

                                            >

                                        </div>

                                    </div>



                                <!-- SUBMIT BUTTON CONTAINER ------ -->
                                <!-- ////////////////////////////// -->

                                    <div class="submitButtonContainer">

                                        <button 
                                        
                                            class="submitButtonActual"
                                            
                                        >submit</button>

                                    </div>




                            </form>

                    </div>




            </div>

    </div>
    
</body>

</html>