<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviews</title>



    <link rel="stylesheet" type="text/css" href="public/styles/pikeatsReviewStyle.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    
    <script src="public/scripts/pikeatsReviewScript.js" defer></script>



</head>

<body class="bodyControl">

    <div class="mainControl">

        <!-- NAV BAR CONTROLS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="navBarContainer">

            </div>

        <!-- PICTURE SPOT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <!-- ////////////////////////////////////////////////////// -->

            <div class="pictureSpotContainer">



                <!-- PICTURE SPOT CAMERA CONTAINER ---------------- -->
                <!-- ////////////////////////////////////////////// -->


                    <div class="cameraContainer">


                        <!-- START VIDEO SHOT BUTTON >>>>>>>>>>>>>> -->
                        <!-- ////////////////////////////////////// -->


                            <div class="cameraStartPictureButtonContainer">

                                <div class="cameraStartButtonActual">

                                    start

                                </div>

                            </div>


                        <!-- CAPTURE SHOT BUTTON >>>>>>>>>>>>>>>>>> -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraBoxContainer">

                                <video class="cameraBoxActualPicture" autoplay>

                                </video>

                            </div>


                        <!-- CAPTURE SHOT BUTTON >>>>>>>>>>>>>>>>>> -->
                        <!-- ////////////////////////////////////// -->


                            <div class="cameraTakePictureButtonContainer">

                                <div class="cameraTakePictureButtonActual">

                                    capture

                                </div>

                            </div>


                    </div>






                

                <!-- CAPTURED PIK SPOT CONTAINER ------------------ -->
                <!-- ////////////////////////////////////////////// -->

                    <div class="cameraSnipDisplayContainer">




                        <!-- DISPLAY SNIP ON CANVAS CONTAINER ----- -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraSnipDisplayBoxContainer">

                                <canvas class="cameraSnipDisplayActual">
        
                                </canvas>

                            </div>



                        <!-- DISPLAY SNIP ON CANVAS CONTAINER ----- -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraSnipDisplayHeaderUrlContainer">

                                <div class="cameraSnipDisplayHeaderUrlActual">

                                    snap data url

                                </div>

                            </div>




                    </div>






                

                <!-- DROP DOWN AND COMMENTS CONTAINER ------------- -->
                <!-- ////////////////////////////////////////////// -->

                    <div class="cameraSnapDescriptionContainer">




                        <!-- SELECT AREA DROP DOWN CONTAINER ------ -->
                        <!-- ////////////////////////////////////// -->

                            <div class="cameraSnapAreaDropDownContainer">

                                <!-- DROP DOWN AREA ITEM SIDE ///// -->
                                <!-- ////////////////////////////// -->

                                    <div class="cameraSnapAreaDropDownItemsSideContainer">

                                        <div class="cameraSnapAreaDropDownItemsSideActualTextContainer">

                                            select area

                                        </div>

                                    </div>




                                <!-- DROP DOWN AREA ICON SIDE ///// -->
                                <!-- ////////////////////////////// -->

                                    <div class="cameraSnapAreaDropDownIconSideContainer">

                                    </div>




                                <!-- DROP DOWN CONTENTS -->
                                <!-- ////////////////// -->

                                    <div class="cameraSnapAreaDropAreaDownContentsContainer">




                                        <!-- DROP DOWN AREA SELECT SLIDER CONTAINER / -->
                                        <!-- //////////////////////////////////////// -->


                                            <div class="cameraSnapAreaDropAreaDownSliderContainer">



                                                <!-- DROP DOWN AREA SELECT SLIDE SIDE /// -->
                                                <!-- //////////////////////////////////// -->


                                                    <div class="cameraSnapDropDownAreaSelectSide">


                                                    </div>



                                                <!-- DROP DOWN DINER SELECT SLIDE SIDE // -->
                                                <!-- //////////////////////////////////// -->


                                                    <div class="cameraSnapDropDownDinerSelectSide">


                                                    </div>




                                            </div>







                                    </div>

                            </div>

                    </div>

            </div>

    </div>
    
</body>

</html>