/* STYLE MAIN USE ELEMENTS FOR ENTIRE PAGE -------------------------- */
/* ////////////////////////////////////////////////////////////////// */

    .bodyControl{

        margin:0px auto;
        background:#fffde0;
        text-align:center;
        transition:all 600ms ease;
        -o-transition:all 600ms ease;
        -ms-transition:all 600ms ease;
        -moz-transition:all 600ms ease;
        -webkit-transition:all 600ms ease;

    }

        .mainControl{

            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0px auto;
            position:relative;
            transition:all 600ms ease;
            -o-transition:all 600ms ease;
            -ms-transition:all 600ms ease;
            -moz-transition:all 600ms ease;
            -webkit-transition:all 600ms ease;

        }





/* STYLE ELEMENTS FOR NAV BAR --------------------------------------- */
/* ////////////////////////////////////////////////////////////////// */

    /* NAV BAR FUNCTIONS -------------------------------------------- */
    /* ////////////////////////////////////////////////////////////// */

    /* VIDEO CAPTURE FUNCTIONS -------------------------------------- */
    /* ////////////////////////////////////////////////////////////// */

    /* BASE 64 CONVERT FUNCTIONS ------------------------------------ */
    /* ////////////////////////////////////////////////////////////// */

    /* TRANSLATE TO FORM FUNCTIONS ---------------------------------- */
    /* ////////////////////////////////////////////////////////////// */